body {
  margin: 0;
  font-family: "Poppins" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
  box-shadow: inset 0 0 0px 9999px white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 border-0 transition-colors;
  }

  body,
  html,
  #root {
    @apply flex flex-col h-full grow overflow-x-hidden;
  }

  input {
    @apply bg-transparent focus:outline-none;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-xs;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-base-200;
  }

  p,
  span {
    @apply text-base text-base-600;
  }
}
